#letter {
    height: 100vh;
}
.envelop {
    position: relative;
    margin-top: 100px;
    width: 340px;
    height: 304px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Partie arrière fixe */
.envelope-backside {
    position: absolute;
    width: 100%;
    z-index: 1;
}

/* Partie du haut ouverte*/
.envelope-top {
    position: absolute;
    width: 100%;
    top: -55px;
    z-index: 1;
    transition: all 1s ease-in-out;
}
.envelope-top.hidden {
    opacity: 0;
}
.envelope-top-closed {
    opacity: 0;
}
.envelope-top-closed.visible {
    position: absolute;
    width: 100%;
    top: 45px;
    z-index: 3;
    opacity: 1;
    transition: all 1s ease-in-out;
}


/* Partie side fixe*/
.envelope-sides {
    position: absolute;
    width: 100%;
    z-index: 3
}

/* Partie du bas fixe */
.envelope-bottom {
    position: absolute;
    width: 100%;
    bottom: 55px;
    z-index: 4;
}

/* NFC pin centré fix */

.nfc-pin {
    position: absolute;
    width: 80px;
    height: 80px;
    bottom: 35%;
    z-index: 4;
}


.nfc-pins-back {
    position: absolute;
    top: -62px;
    opacity: 0;
    left: 5px;
    width: 100%;
    z-index: 1;
    transition: transform 1.5s ease-in-out;
}


.nfc-pins-front {
    position: absolute;
    top: 77px;
    opacity: 0;
    left: 87px;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: transform 1.5s ease-in-out;
}

.nfc-pin-grey {
    position: absolute;
    left: -30px;
    top: -12px;
}
.nfc-pin-red {
    position: absolute;
    left: 65px;
    top: -15px;
}
.nfc-pin-black {
    position: absolute;
    left: 129px;
    top: -23px;
}

.visible {
    opacity: 1;
}
.translate {
    transform: translateY(125px);
}

#nfc-card {
    width: 335px;
}
.nfc-card-content-visible {
    z-index: 5;
    opacity: 1 !important;
}
.nfc-card-content-hidden {
    position: absolute;
    top: -51px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Texte */
.message {
    position: absolute;
    bottom: 65px;
    line-height: 17.15px;
    font-family: "Grape Nuts", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: black;
    z-index: 4;
}


.letter-content {
    position: absolute;
    max-width: 335px;
    top: 56px;
    height: 170px;
    padding: 20px 45px;
    background: white;
    z-index: 1;
    transition: top 0.8s ease-in-out;
}

.letter-content.letter-content-out {
    top: -38px;
}
.letter-content.letter-content-in {
    top: 56px;
}

.client-name {
    margin-bottom: 18px;
    font-family: "Grape Nuts";
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: black;
}
.client-message {
    font-family: "Grape Nuts";
    font-weight: 400;
    font-size: 16px;
    line-height: 20.8px;
    text-align: center;
    color: #5E5C5C;

}


.call-to-action {
    position: relative;
    margin-top: 20px;
    padding: 0px 15px;
}
.call-to-action .title {
    font-weight: 400;
    font-size: 24px;
    line-height: 31.2px;
    text-align: center;
    margin-bottom: 30px;

}

.explore-button {
    transition: all 0.5s ease-in-out;
}


.explore-button::before {
    content: "";
    top: -5px;
    right: 31px;
    width: 50px;
    height: 5px;
    background: linear-gradient(263.45deg, #3ADCFF 8.44%, rgba(58, 220, 255, 0) 112.84%);
    filter: blur(5px);
    border-radius: 100%;
    transition: all 0.5s ease-in-out;
}


.explore-button:hover::before {
    color: white;
    width: 60px;
    height: 40px;
    opacity: 0.8;
    filter: blur(25px);
    background-color: var(--color-primary);
}

